.productGroup {
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__title {
    font-size: 28px;
    font-weight: bold;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-top: 20px;
    row-gap: 50px;
  }
  &__column {
    padding: 0 15px;
    flex: 0 1 33.333%;
    display: flex;
  }
}
