@use "src/styles/veriables/global.scss";

.searchInput {
  height: 100%;
  background: global.$grey;
  border-radius: 15px;

  & > div {
    height: 100%;
  }
  input {
    padding-right: 50px !important;
  }

  &.blured {
    background: #fff;
    position: relative;
    z-index: 2;
  }

  &__clean {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    cursor: pointer;
  }
}

.blur{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.45);
  z-index: 1;
  pointer-events: none;
}