.rangeSlider {
  display: flex;

  flex-wrap: wrap;

  &__input {
    flex: 0 0 90px;
    height: 40px;
    padding: 0 3px;

    & > div {
      height: 100%;
      border: 1px solid rgba(51, 51, 51, 0.35);
      border-radius: 10px;
    }
  }

  &__slider {
    margin-top: 10px;
    flex: 1 1 100%;
  }
}